---
interface Props {
  onClick?: () => void;
}

const { onClick } = Astro.props;
---

<div class="flex items-center gap-2">
  <a
    href="/"
    class="text-gray-300 hover:text-accent transition-colors"
    aria-label="Go to homepage"
  >
    <div class="h-10 w-auto relative bg-white/80 rounded-lg p-2 transition-colors hover:bg-accent/60">
            <img 
        src="../src/assets/logo/3volve-logo-web.svg" 
        alt="3volve Home"
        title="3volve Home"
        class="h-full w-auto"
      />
    </div>
  </a>
</div>